// out: ./styles.css, compress: false
@black: #212121;
@gray: #f5f5f5;
@white: #ffffff;
@purple: #aa00ff;
@blue: #2962ff;
@green: #00c853;
@orange: #ff6d00;
@pink: #ff80ab;

@font-face {
  font-family: grot;
  src: url(../fonts/grot.otf);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
ul,
li {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  color: @black;
}

html {
  font-size: 12px;
  scroll-behavior: smooth;
}

body {
  max-width: 1416px;
  font-family: 'grot', sans-serif;
  color: @black;
  padding: 1rem;
  margin: 0 auto;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
  transition: 0.5s;
}
