@font-face {
  font-family: irra;
  src: url(../fonts/irra.ttf);
}
@font-face {
  font-family: grot;
  src: url(../fonts/grot.otf);
}
@font-face {
  font-family: mora;
  src: url(../fonts/mora.ttf);
}
@font-face {
  font-family: cube;
  src: url(../fonts/cube.ttf);
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
a:visited,
a:active,
ul,
li {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  color: #212121;
}
html {
  font-size: 12px;
  scroll-behavior: smooth;
}
body {
  max-width: 1416px;
  font-family: 'grot', sans-serif;
  color: #212121;
  padding: 1rem;
  margin: 0 auto;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
