// out: ./styles.css, compress: true
@import './projects.less';
@gray-white-linear: linear-gradient(180deg, @gray 0%, @white 30%);

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 4rem 0 7rem 0;
  margin-top: 1rem;
  border-radius: 8px;
  background: @gray-white-linear;

  &__button-up {
    display: inline-block;
    width: 10rem;
    height: 4rem;
    font-size: 22px;
    line-height: 44px;
    border-radius: 999px;
    color: @white;
    padding: 0 11px 0 16px;
    margin-bottom: 4rem;
    transition: 0.5s;
    cursor: pointer;

    .button-up-color(@upcolor) {
      background: url('../images/footer/button-up.svg') no-repeat, url('../images/footer/button-up.svg') no-repeat,
        @upcolor;
      background-position: right 14px center, right 14px bottom -24px;
      &:hover {
        background-position: right 14px top -24px, right 14px center;
        box-shadow: 0px 0px 1rem @upcolor;
      }
    }

    &_purple {
      .button-up-color(@purple);
    }
    &_blue {
      .button-up-color(@blue);
    }
    &_green {
      .button-up-color(@green);
    }
    &_orange {
      .button-up-color(@orange);
    }
  }

  &__menu {
    display: flex;

    &-list {
      margin-right: 3rem;

      &:last-child {
        margin-right: 0;
      }

      & a {
        border-radius: 8px;
        padding: 1px 6px 4px 6px;
        transition: 0.1s;
        &:hover {
          background-color: @gray;
        }
      }
    }

    &-header {
      font-size: 18px;
      font-weight: bold;
      margin-left: 6px;
    }

    &-item {
      font-size: 16px;
      line-height: 26px;
    }
  }

  &__copyright {
    position: absolute;
    font-size: 1rem;
    bottom: 0;

    & a {
      text-decoration: underline;
      color: @black;
    }
  }
}
