// out: ./styles.css, compress: false
@import './header.less';

@font-face {
  font-family: prim;
  src: url(../fonts/prim.otf);
}

.header__tagline-home {
  position: relative;
  display: flex;
  align-content: center;
  height: 51rem;
  border-radius: 8px;
  margin-bottom: 4rem;
  overflow: hidden;
  background: url(../images/home/home-header-man.svg) no-repeat, @white-gray-linear;
  background-position: center bottom;

  .header__home-img-left-1 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../images/home/home-img-left-1.svg) no-repeat;
    background-position: left top;
  }

  .header__home-img-left-2 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../images/home/home-img-left-2.svg) no-repeat;
    background-position: left top;
  }

  .header__home-img-left-3 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../images/home/home-img-left-3.svg) no-repeat;
    background-position: left top;
  }

  .header__home-img-right-1 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../images/home/home-img-right-1.svg) no-repeat;
    background-position: right top;
  }

  .header__home-img-right-2 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../images/home/home-img-right-2.svg) no-repeat;
    background-position: right top;
  }

  .header__home-img-right-3 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../images/home/home-img-right-3.svg) no-repeat;
    background-position: right top;
  }

  &-text {
    z-index: 10;
    color: @white;
    font-family: 'prim', sans-serif;
    font-size: 4rem;
    line-height: 4rem;
    width: 50rem;
    margin: 6rem 0 auto 6rem;
  }
}

.home {
  &__skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    .home__skill {
      background-color: @gray;
      border-radius: 8px;
      padding: 2rem;

      &-image {
        height: 3rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        transition: 0.5s;
      }

      &-name {
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 2rem;
        font-weight: bold;
      }

      &-text {
        font-size: 2rem;
        text-align: justify;
      }

      &-tags {
        margin-top: 3rem;
        & .home__skill-tag {
          display: inline-block;
          height: 4rem;
          font-size: 22px;
          line-height: 44px;
          text-align: center;
          background-color: @purple;
          border-radius: 999px;
          color: @white;
          padding: 0 14px;
          margin-right: 6px;
          margin-bottom: 1rem;
          transition: 0.5s;

          &:hover {
            box-shadow: 0px 0px 1.5rem @purple;
          }
        }
      }

      &:hover .home__skill-image {
        transform: scaleX(-1);
      }

      &-design .home__skill-image {
        background: url(../images/home/home-design.svg) no-repeat;
        background-position: center;
        background-size: 3rem;
      }

      &-dev .home__skill-image {
        background: url(../images/home/home-dev.svg) no-repeat;
        background-position: center;
        background-size: 3rem;
      }

      &-pm .home__skill-image {
        background: url(../images/home/home-pm.svg) no-repeat;
        background-position: center;
        background-size: 3rem;
      }
    }
  }

  &__links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 4rem;
    background: @gray;
    border-radius: 8px;

    .home__link {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 17rem;
      background-color: @gray;

      font-family: 'prim', sans-serif;
      text-transform: uppercase;
      text-align: center;
      font-size: 3rem;
      line-height: 3rem;
      transition: 0.5s;

      &-projects {
        background: url(../images/home/home-link-2.svg) no-repeat;
        background-position: center center;
        background-size: 75%;
        &:hover {
          background-size: 80%;
        }
      }

      &-blog {
        background: url(../images/home/home-link-1.svg) no-repeat;
        background-position: center center;
        background-size: 75%;
        &:hover {
          background-size: 80%;
        }
      }

      &-contact {
        background: url(../images/home/home-link-3.svg) no-repeat;
        background-position: center center;
        background-size: 95%;
        &:hover {
          background-size: 100%;
        }
      }
    }
  }
}
