.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.project {
  display: flex;
  height: 34rem;
  background-color: #f5f5f5;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.5s;
}

.project-nav {
  width: 100%;
  align-self: flex-end;
  padding: 4rem 0 2rem 2rem;
  background: linear-gradient(180deg, rgba(250, 250, 250, 0) 0%, #f5f5f5 45%);
}

.project-name {
  width: 32rem;
  font-size: 30px;
}

.project-buttons {
  transition: 0.5s;
  opacity: 0;
  margin-bottom: 1rem;
}

.project:hover .project-buttons {
  opacity: 1;
}

.project-buttons a {
  display: inline-block;
  height: 4rem;
  font-size: 22px;
  line-height: 44px;
  text-align: center;
  background-color: #2962ff;
  border-radius: 999px;
  color: #ffffff;
  padding: 0 14px;
  margin-right: 1rem;
  transition: 0.2s;
}

.project-buttons a:hover {
  box-shadow: 0px 0px 1rem #2962ff;
}

.project-buttons a:visited {
  color: #ffffff;
}

.project-surface {
  order: 1;
  grid-column: 1/3;
  background: url('../images/project-surface-1.png') no-repeat, url('../images/project-surface-2.png') no-repeat,
    #f5f5f5;
  background-size: auto 140%, auto 120%;
  background-position: -15% 10%, 110% 2%;
}

.project-surface:hover {
  background-position: 0 0, 100% 0;
}

.project-keksby {
  order: 2;
  background: url('../images/project-keksby.svg') no-repeat, #f5f5f5;
  background-size: auto 100%;
  background-position: center top -7px;
}

.project-unqwertier {
  order: 3;
  background: url('../images/project-unqwertier.png') no-repeat, #f5f5f5;
  background-size: auto 110%;
  background-position: center center;
}

.project-devhomepage {
  order: 4;
  background: url('../images/project-devhomepage.svg') no-repeat, #f5f5f5;
  background-size: auto 100%;
  background-position: center top;
}

.project-kvast {
  order: 5;
  background: url('../images/project-kvast-2.svg') no-repeat, url('../images/project-kvast-1.svg') no-repeat, #f5f5f5;
  background-size: 100% auto, auto 100%;
  background-position: center top 40%, center top 17rem;
}

.project-kvast .project-nav {
  background: none;
}

.project-kvast .project-nav a {
  background-color: #212121;
  color: #ffffff;
}

.project-kvast:hover {
  background-position: center 25%, center 10rem;
}

.project-kvast a:hover {
  box-shadow: 0px 0px 1rem #212121;
}

.project-onepage {
  order: 6;
  background: url('../images/project-onepage.svg') no-repeat, #f5f5f5;
  background-size: auto 100%;
  background-position: center top;
}

.project-ripley {
  order: 7;
  grid-column: 2/4;
  background: url('../images/project-ripley.png') no-repeat, #f5f5f5;
  background-size: auto 100%;
  background-position: center top;
  filter: grayscale(100%);
}

.project-ripley .project-nav {
  background: none;
}

.project-ripley .project-nav p {
  color: #ffffff;
}

.project-ripley:hover {
  filter: grayscale(0);
}

.project-candyshop {
  order: 8;
  background: url('../images/project-candyshop-2.png') no-repeat, url('../images/project-candyshop-1.jpg') no-repeat,
    #f5f5f5;
  background-size: 110% auto, auto 120%;
  background-position: center -100%, center top;
}

.project-candyshop:hover {
  background-position: center top, center top;
}

.project-candyshop .project-nav a {
  background-color: #ff80ab;
  color: #ffffff;
}

.project-candyshop a:hover {
  box-shadow: 0px 0px 1rem #ff80ab;
}

.project-noemi {
  order: 9;
  background: url('../images/project-noemi.png') no-repeat, #f5f5f5;
  background-size: auto 110%;
  background-position: center top;
}

.project-new {
  order: 10;
  position: relative;
  background-color: #2962ff;
}

.project-new-plus {
  position: absolute;
  top: -216px;
  left: -108px;
  color: #ffffff;
  font-size: 468px;
  font-style: italic;
  transition: 0.5s;
  user-select: none;
}

.project-new:hover .project-new-plus {
  text-shadow: 5px 5px 0px rgba(255, 255, 255, 0.7);
}

.project-new .project-nav {
  background: none;
}

.project-new .project-nav a {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  color: #2962ff;
}

.project-new .project-nav p {
  position: relative;
  z-index: 1;
  color: #ffffff;
  z-index: 1;
}

.project-new a:hover {
  box-shadow: 0px 0px 12px #ffffff;
}
