/* resets & common */

@font-face {
  font-family: grot;
  src: url(../fonts/grot.otf);
}

@font-face {
  font-family: irra;
  src: url(../fonts/irra.ttf);
}

@font-face {
  font-family: mora;
  src: url(../fonts/mora.ttf);
}

@font-face {
  font-family: cube;
  src: url(../fonts/cube.ttf);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  padding: 0;
  margin: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #212121;
}

ul,
li {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 12px;
}

body {
  max-width: 1416px;
  font-family: 'grot', sans-serif;
  color: #212121;
  padding: 1rem;
  margin: 0 auto;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}
