/* resets & common */

@font-face {
  font-family: Ubuntu;
  src: url(../fonts/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: Irrationalist;
  src: url(../fonts/Irrationalist-Regular.ttf);
}

@font-face {
  font-family: Moralist;
  src: url(../fonts/Moralist.ttf);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  padding: 0;
  margin: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #212121;
}

ul,
li {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1416px;
  font-family: 'Ubuntu', sans-serif;
  color: #212121;
  padding: 12px;
  margin: 0 auto;
}

/* page header */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-logo-shell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 205px;
  height: 64px;
  background-color: #212121;
}

.header-logo {
  font-family: 'Irrationalist', sans-serif;
  text-transform: uppercase;
  font-size: 72px;
  color: #ffffff;
  transition: 0.5s;
  user-select: none;
}

.header-logo-shell:hover .header-logo {
  color: #2962ff;
}

.header-menu-shell {
  height: 72px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-button {
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  margin-top: 4px;
}

.header-button:hover {
  background-color: #f5f5f5;
}

.header-button:active {
  margin-top: 4px;
}

.header-button-language {
  background: url(../images/header-button-language.svg) no-repeat center center;
  margin-right: 8px;
}

.header-button-language:active {
  margin-right: 8px;
}

.header-button-theme {
  background: url(../images/header-button-theme.svg) no-repeat center center;
}

.header-button-contact {
  background: url(../images/header-button-contact.svg) no-repeat center center;
}

.header-menu {
  display: flex;
  flex-direction: row;
}

.header-menu-item a {
  font-size: 24px;
  margin-right: 12px;
  border-radius: 8px;
  padding: 8px;
}

.header-menu-item a:hover {
  background-color: #f5f5f5;
}

.header-menu-item a:visited {
  color: #212121;
}

.header-menu-item:nth-child(1) a:active {
  color: #aa00ff;
}

.header-menu-item:nth-child(2) a {
  color: #2962ff;
}

.header-menu-item:nth-child(2) a:active {
  color: #2962ff;
}

.header-menu-item:nth-child(3) a:active {
  color: #00c853;
}

.header-menu-item:nth-child(4) a {
  margin-right: 0;
}

.header-menu-item:nth-child(4) a:active {
  color: #ff6d00;
}

/* section header (accent & illustration) */

.section-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px;
  column-gap: 12px;
  margin-bottom: 12px;
}

.section-header-accent {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 0%, #f5f5f5 100%);
}

.section-header-accent div:nth-last-child(n + 2) {
  width: 376px;
  height: 376px;
  position: absolute;
}

/* @keyframes rotate-forward {
  from {
    transform: rotate(15deg);
  }
  to {
    transform: rotate(375deg);
  }
}

@keyframes rotate-back {
  from {
    transform: rotate(375deg);
  }
  to {
    transform: rotate(15deg);
  }
} */

.section-header-accent-figure {
  background: url(../images/accent-figure-blue.svg) no-repeat center center;
  max-width: 376px;
  max-height: 376px;
}

.section-header-accent-figure-1 {
  background-size: 376px 376px;
  transform: rotate(30deg);
  /* animation: rotate-forward 10s linear infinite; */
}

.section-header-accent-figure-2 {
  opacity: 0.8;
  background-size: 328px 328px;
  transform: rotate(-30deg);
  /* animation: rotate-back 8s linear infinite; */
}

.section-header-accent-figure-3 {
  opacity: 0.6;
  background-size: 286px 286px;
  transform: rotate(60deg);
  /* animation: rotate-forward 6s linear infinite; */
}

.section-header-accent-figure-4 {
  opacity: 0.4;
  background-size: 248px 248px;
  transform: rotate(-60deg);
  /* animation: rotate-back 4s linear infinite; */
}

.section-header-accent-letters {
  position: absolute;
  text-transform: uppercase;
  font-family: 'Moralist', sans-serif;
  font-size: 96px;
  user-select: none;
}

.section-header-illustration {
  border-radius: 8px;
  background: url(../images/illustration-blue.svg) no-repeat center center,
    linear-gradient(180deg, rgba(245, 245, 245, 0) 0%, #f5f5f5 100%);
}

/* section content */

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}

.project {
  display: flex;
  height: 400px;
  background-color: #f5f5f5;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.5s;
}

.project-nav {
  width: 100%;
  align-self: flex-end;
  padding: 48px 0 24px 24px;
  background: linear-gradient(180deg, rgba(250, 250, 250, 0) 0%, #f5f5f5 45%);
}

.project-name {
  width: 395px;
  font-size: 32px;
}

.project-buttons {
  transition: 0.5s;
  opacity: 0;
  margin-bottom: 12px;
}

.project:hover .project-buttons {
  opacity: 1;
}

.project-buttons a {
  display: inline-block;
  height: 48px;
  font-size: 24px;
  line-height: 44px;
  text-align: center;
  background-color: #2962ff;
  border-radius: 999px;
  color: #ffffff;
  padding: 0 16px;
  margin-right: 8px;
}

.project-buttons a:visited {
  color: #ffffff;
}

.project-surface {
  order: 1;
  grid-column: 1/3;
  background: url('../images/project-surface-1.png') no-repeat, url('../images/project-surface-2.png') no-repeat,
    #f5f5f5;
  background-size: auto 140%, auto 120%;
  background-position: -14% 10%, 109% -10%;
}

.project-surface:hover {
  background-position: 0 0, 100% 0;
}

.project-keksby {
  order: 2;
  background: url('../images/project-keksby.svg') no-repeat, #f5f5f5;
  background-size: auto 102%;
  background-position: center;
}

.project-unqwertier {
  order: 3;
  background: url('../images/project-unqwertier.png') no-repeat, #f5f5f5;
  background-size: auto 400px;
  background-position: top center;
}

.project-devhomepage {
  order: 4;
  background: url('../images/project-devhomepage.svg') no-repeat, #f5f5f5;
  background-size: auto 400px;
  background-position: center;
}

.project-kvast {
  order: 5;
  background: url('../images/project-kvast-2.svg') no-repeat, url('../images/project-kvast-1.svg') no-repeat,
    #f5f5f5;
  background-size: 100% auto, auto 400px;
  background-position: center 65px, center 200px;
}

.project-kvast .project-nav {
  background: none;
}

.project-kvast .project-nav a {
  background-color: #212121;
  color: #ffffff;
}

.project-kvast:hover {
  background-position: center 45px, center 100px;
}

.project-onepage {
  order: 6;
  background: url('../images/project-onepage.svg') no-repeat, #f5f5f5;
  background-size: auto 110%;
  background-position: center -40px;
}

.project-ripley {
  order: 7;
  grid-column: 2/4;
  background: url('../images/project-ripley.png') no-repeat, #f5f5f5;
  background-size: auto 110%;
  background-position: center center;
  border-radius: 8px;
  filter: grayscale(100%);
}

.project-ripley .project-nav {
  background: none;
}

.project-ripley .project-nav p {
  color: #ffffff;
}

.project-ripley:hover {
  filter: grayscale(0);
}

.project-candyshop {
  order: 8;
  background: url('../images/project-candyshop.svg') no-repeat, #f5f5f5;
  background-size: auto 110%;
  background-position: center center;
}

.project-noemi {
  order: 9;
  background: url('../images/project-noemi.png') no-repeat, #f5f5f5;
  background-size: auto 280px;
  background-position: top center;
}

.project-new {
  order: 10;
  position: relative;
  background: url('../images/project-new.svg') no-repeat, #2962ff;
  background-size: auto 220px;
  background-position: left top;
}

.project-new-plus {
  position: absolute;
  top: -170px;
  left: -60px;
  color: #ffffff;
  font-size: 400px;
  font-style: italic;
  transition: 0.5s;
}

.project-new:hover .project-new-plus {
  text-shadow: 5px 5px 0px rgba(255, 255, 255, 0.7);
}

.project-new .project-nav {
  background: none;
}

.project-new .project-nav a {
  background-color: #ffffff;
  color: #2962ff;
}

.project-new .project-nav p {
  color: #ffffff;
}

/* page footer */

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 0 84px 0;
  margin-top: 12px;
  border-radius: 8px;
  background: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 30%);
}

.footer > .footer-button-up {
  display: inline-block;
  height: 48px;
  font-size: 24px;
  line-height: 44px;
  text-align: center;
  background-color: #212121;
  border-radius: 999px;
  color: #ffffff;
  padding: 0 16px;
  margin-bottom: 48px;
}

.footer-menu {
  display: flex;
}

.footer-menu ul {
  margin-right: 48px;
}

.footer-menu ul:last-child {
  margin-right: 0;
}

.footer-menu ul li {
  font-size: 18px;
  line-height: 24px;
}

.footer-menu ul li a {
  border-radius: 8px;
  padding: 4px;
}

.footer-menu ul li a:hover {
  background-color: #f5f5f5;
}

.footer-menu ul li a:visited {
  color: #212121;
}

.footer-menu ul li:first-child {
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 4px;
}

.footer-copyright {
  position: absolute;
  font-size: 12px;
  bottom: 0;
}

.footer-copyright a {
  text-decoration: underline;
  color: #212121;
}

.footer-copyright a:visited {
  color: #212121;
}
